#sidebar {
    background: $gray;
    
    .menu-bar { background: transparent; }
}

.pivot-ovr {
    
    // General Table styles
    table { 
        padding: 0 !important;
        width: 100% !important;
        max-width: 100%!important;
        
        tr {}
        
        th {}
        
        td {}
    
    }
    
    // horizontal axis
    .pvtHorizList  { }
    
    // Unused values
    .pvtUnused  {
        
        // Hide first value - should always be = valor
        > .axis_0 { display: none }
    }
    
    // selected cols
    .pvtCols  { }
    
    
    // Pivot table hide
    .pvtVals { 
        border: none;
        background: #fff;
        > * { display: none; } }

    .pvtRenderer { display: none; }
    
    .pvtTotalLabel, .rowTotal, .colTotal, .pvtGrandTotal { display: none; }

}