---
name: backoffice
url: /backoffice
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-content">

    <h1>PORTAL DAS ESTATÍSTICAS</h1>

    <div class="grid-block small-up-1 medium-up-3">

        <div class="grid-content" animation-in="zoomIn" animation-out="zoomOut">
            <div class="dark card">
                <div class="card-divider" style="font-weight: 600; text-transform: uppercase;">
                    Gestão de Conteúdos
                </div>
                <div class="card-divider" style="font-size: 10px; color: lightgray; padding-top: 0; text-transform: uppercase;">
                    Gestão dos os conteúdos pertencentes ao back-office e front-office.
                </div>
                <div class="card-section" style="padding: 0">
                    <ul class="vertical dark menu-bar">
                        <li><a ui-sref="GestaoPaginaInicial" href="#">Gestão da Homepage | Front Office</a></li>
                        <li><a ui-sref="GestaoHierarquiaNavegacao" href="#">Gestão da Hierarquia de Navegação</a></li>
                        <li><a ui-sref="GestaoDashboard" href="#">Gestão do Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-content" animation-in="zoomIn" animation-out="zoomOut">
            <div class="secondary card">
                <div class="card-divider" style="font-weight: 600; text-transform: uppercase;">
                    Gestão de Publicações
                </div>
                <div class="card-divider" style="font-size: 10px; color: lightgray; padding-top: 0; text-transform: uppercase;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="card-section" style="padding: 0">
                    <ul class="vertical menu-bar">
                        <li><a class="disabled" ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-content" animation-in="zoomIn" animation-out="zoomOut" animation-delay="700ms">
            <div class="secondary card">
                <div class="card-divider" style="font-weight: 600; text-transform: uppercase;">
                    Gestão da Pesquisa
                </div>
                <div class="card-divider" style="font-size: 10px; color: lightgray; padding-top: 0; text-transform: uppercase;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="card-section" style="padding: 0">
                    <ul class="vertical menu-bar">
                        <li><a class="disabled" ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-content">
            <div class="secondary card">
                <div class="card-divider" style="font-weight: 600; text-transform: uppercase;">
                    Gestão de Utilizadores
                </div>
                <div class="card-divider" style="font-size: 10px; color: lightgray; padding-top: 0; text-transform: uppercase;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="card-section" style="padding: 0">
                    <ul class="vertical menu-bar">
                        <li><a class="disabled" ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-content">
            <div class="secondary card">
                <div class="card-divider" style="font-weight: 600; text-transform: uppercase;">
                    Gestão de Contactos
                </div>
                <div class="card-divider" style="font-size: 10px; color: lightgray; padding-top: 0; text-transform: uppercase;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="card-section" style="padding: 0">
                    <ul class="vertical menu-bar">
                        <li><a class="disabled" ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-content">
            <div class="secondary card">
                <div class="card-divider" style="font-weight: 600; text-transform: uppercase;">
                    Monitorização
                </div>
                <div class="card-divider" style="font-size: 10px; color: lightgray; padding-top: 0; text-transform: uppercase;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="card-section" style="padding: 0">
                    <ul class="vertical menu-bar">
                        <li><a class="disabled" ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                        <li><a ui-sref="" href="#">Lorem ipsum dolor</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>