---
name: backoffice
url: /backoffice
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-content">

    <h1>PORTAL DAS ESTATÍSTICAS</h1>

    <div class="grid-block small-up-1 medium-up-3">

        <div class="grid-content" animation-in="zoomIn" animation-out="zoomOut">
            <div class="dark card">
                <div class="card-divider">
                    <h4>Gestão de Conteúdos</h4>
                </div>
                <div class="card-section">
                    <p>Efectue a gestão de todos os conteúdos pertencentes ao back-office e front-office.</p>
                    <hr />
                    <ul>
                        <li>Gestão da Homepage | Front Office</li>
                        <li>Gestão da Hierarquia de Navegação</li>
                        <li>Gestão do Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-content" animation-in="zoomIn" animation-out="zoomOut">
            <div class="dark card">
                <div class="card-divider">
                    <h4>Gestão de Publicações</h4>
                </div>
                <div class="card-section">
                    <p>Efectue a gestão de todos os conteúdos pertencentes ao back-office e front-office.</p>
                </div>
            </div>
        </div>

        <div class="grid-content" animation-in="zoomIn" animation-out="zoomOut" animation-delay="700ms">
            <div class="dark card">
                <div class="card-divider">
                    <h4>Gestão da Pesquisa</h4>
                </div>
                <div class="card-section">
                    <p>Efectue a gestão de todos os conteúdos pertencentes ao back-office e front-office.</p>
                </div>
            </div>
        </div>

        <div class="grid-content">
            <div class="dark card">
                <div class="card-divider">
                    <h4>Gestão de Utilizadores</h4>
                </div>
                <div class="card-section">
                    <p>Efectue a gestão de todos os conteúdos pertencentes ao back-office e front-office.</p>
                </div>
            </div>
        </div>

        <div class="grid-content">
            <div class="dark card">
                <div class="card-divider">
                    <h4>Gestão de Contactos</h4>
                </div>
                <div class="card-section">
                    <p>Efectue a gestão de todos os conteúdos pertencentes ao back-office e front-office.</p>
                </div>
            </div>
        </div>

        <div class="grid-content">
            <div class="dark card">
                <div class="card-divider">
                    <h4>Monitorização</h4>
                </div>
                <div class="card-section">
                    <p>Efectue a gestão de todos os conteúdos pertencentes ao back-office e front-office.</p>
                </div>
            </div>
        </div>

    </div>

</div>