---
name: DragDrop
url: /DragDrop
controller: DragDropController
---

<div class="grid-content">
    <script type="text/ng-template" id="drag.html" >
        <ul dnd-list="list" 
            dnd-horizontal-list="true">
            <!-- The dnd-draggable directive makes an element draggable and will
                 transfer the object that was assigned to it. If an element was
                 dragged away, you have to remove it from the original list
                 yourself using the dnd-moved attribute -->
            <li ng-repeat="item in list"
                dnd-draggable="item"
                dnd-horizontal-list="true"
                dnd-moved="list.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}"
                >
                {{item.label}}
            </li>
        </ul>
    </script>

    <h1>Demo: Simple Lists</h1>
    <div class="grid-block">
   {{$scope.dominiosModel.dimensoes}}     
        <div ng-repeat="(listName, list) in models.lists" class="grid-block shrink">
            <ul dnd-list="list" class="grid-content" style="padding-right: 2em" dnd-horizontal-list="true">
            <!-- The dnd-draggable directive makes an element draggable and will
             transfer the object that was assigned to it. If an element was
             dragged away, you have to remove it from the original list
             yourself using the dnd-moved attribute -->
                <li ng-repeat="item in list" 
                    dnd-draggable="item" 
                    dnd-moved="list.splice($index, 1)" 
                    dnd-effect-allowed="move" 
                    dnd-selected="models.selected = item" 
                    ng-class="{'selected': models.selected === item}">
                    {{item.label}}
                </li>
            </ul>
            <!--  <div view-source="simple" style="min-height: 100px; min-width: 100px;"></div>-->

        </div>

        <div class="grid-block panel-body">
            <pre class="grid-content code">{{modelAsJson}}</pre>
        </div>
    </div>
    
</div>
