---
name: GestaoPaginaInicial-tab1
url: /GestaoPaginaInicial-tab1
parent: GestaoPaginaInicial
---

<div class="grid-content" ng-controller="ConteudoController as conteudo" ng-init="getTodoConteudo();">

    <!-- <div class="grid-block"
         style="margin: 1.5rem 0"
         animation-in="zoomIn" 
         animation-out="zoomOut">

        <span class="label"
              style="margin-right: 10px">
            ORDEM
        </span>
        <span class="label"
              style="margin-right: 10px">
            DATA DE PUBLICAÇÃO
        </span>

    </div> -->
	
	

    <div class="card" ng-repeat="conteudoTexto in textos.texto | orderBy:'posicao'">
        <div class="card-section grid-block">
            <div class="grid-content">
                    <h4>
                    {{conteudoTexto.titulo}}
                    </h4>
                <br />
                    {{conteudoTexto.subtitulo}}
                <br />
                    {{conteudoTexto.conteudo}}
                <br />
                    <div style="color: #aaa">
                        <span><strong>Data de Publicação</strong></span>
                    <span>{{conteudoTexto.getDataPublicacao()}}</span>
                    </div>
                </div>
            <div class="grid-content shrink">
                    <span><strong>ORDEM</strong></span>
                    <span>{{conteudoTexto.posicao}}</span>
                </div>
            <div class="grid-content shrink">
                    <div><a class="tiny expand button" ng-click="ordenarConteudoTexto(conteudoTexto,1);">MOVER PARA CIMA</a></div>
                    <div><a class="alert tiny expand button" ng-click="ordenarConteudoTexto(conteudoTexto,-1);">MOVER PARA BAIXO</a></div>
            </div>
        </div>
    </div>
    
    
    <div class="card" ng-repeat="conteudoGrafico in conteudosGraficos | orderBy:'order'">
        <div class="card-section grid-block">
            <div class="grid-content">

                    <h4>{{conteudoGrafico.title}}</h4>

                    <input type="text" placeholder="Título" ng-model="conteudoGrafico.title" />

                    <div id="{{conteudoGrafico.graficoId}}"></div>

                    <div style="color: #aaa">
                        <span><strong>Data de Publicação</strong></span>
                        <span>{{conteudoGrafico.textDate}}</span>
                    </div>
            </div>
            <div class="grid-content shrink">
                    <span><strong>ORDEM</strong></span>
                    <span>{{conteudoGrafico.order}}</span>
            </div>
            <div class="grid-content shrink">
                    <div><a class="tiny expand button" ng-click="ordenarConteudoGrafico(conteudoGrafico,1);">MOVER PARA CIMA</a></div>
                    <div><a class="alert tiny expand button" ng-click="ordenarConteudoGrafico(conteudoGrafico,-1);">MOVER PARA BAIXO</a></div>
            </div>
        </div>
    </div>

</div>