---
name: GestaoPaginaInicial-tab2
url: /GestaoPaginaInicial-tab2
parent: GestaoPaginaInicial
---

<div class="grid-content" ng-controller="ConteudoController as conteudo" ng-init="getTextos()">
    <br />
    <a ng-click="novoConteudoTexto()">Novo</a>
    <br /><br />
	
<!--     <div class="grid-block"
         style="margin: 1.5rem 0"
         animation-in="zoomIn"
         animation-out="zoomOut">

        <span class="label"
              style="margin-right: 10px">
            ORDEM
        </span>
        <span class="label"
              style="margin-right: 10px">
            DATA DE PUBLICAÇÃO
        </span>
    </div> -->
	
    <div class="card" ng-show="conteudoTextoEditOn">
        <form ng-submit="saveConteudoTexto(conteudoTextoToEdit)">
            <div class="card-section grid-block">
                <div class="grid-content">
                    <input type="text" placeholder="Título" ng-model="conteudoTextoToEdit.titulo" />
                    <br />
                    <input type="text" placeholder="Subtítulo" ng-model="conteudoTextoToEdit.subtitulo" />
                    <br />
                    <textarea name="conteudoTextoTexto" id="conteudoTextoTexto" placeholder="Texto" ng-model="conteudoTextoToEdit.conteudo" ng-init="conteudoTextoInitEditor('conteudoTextoTexto')" rows="3"></textarea>
                    <br />
                    <div style="color: #aaa">
                        <span><strong>Data de Publicação</strong></span>
                        <span>{{conteudoTextoToEdit.getDataPublicacao()}}</span>
                    </div>
                </div>
                <div class="grid-content shrink">
                    <span><strong>ORDEM</strong></span>
                    <span>{{conteudoTextoToEdit.posicao}}</span>
                </div>
                <div class="grid-content shrink">
                    <div><input type="submit" value="GRAVAR" class="tiny expand button" /></div>
                    <br />
                    <div><a class="tiny expand button" ng-click="cancelarConteudoTexto();">CANCELAR</a></div>
                </div>
            </div>
        </form>
    </div>

    <div class="card" ng-repeat="conteudoTexto in textos.texto | orderBy:'posicao'"
         ng-hide="conteudoTextoEditOn">
        <div class="card-section grid-block">
            <div class="grid-content">
                    <h4>
                        {{conteudoTexto.titulo}}
                    </h4>
                <br />
                    {{conteudoTexto.subtitulo}}
                <br />
                    {{conteudoTexto.conteudo}}
                <br />
                    <div style="color: #aaa">
                        <span><strong>Data de Publicação</strong></span>
                    <span>{{getDataPublicacao2(conteudoTexto.data_actualizacao)}}</span>
                    </div>
                </div>
                <div class="grid-content shrink">
                    <span><strong>ORDEM</strong></span>
                    <span>{{conteudoTexto.posicao}}</span>
                </div>
                <div class="grid-content shrink">
                <div><a class="tiny expand button" ng-click="editarConteudoTexto(conteudoTexto);">EDITAR</a></div>
                <br />
                <div><a class="alert tiny expand button" ng-click="deleteConteudoTexto(conteudoTexto);">APAGAR</a></div>
                </div>
            </div>
	</div>

</div>