---
name: GestaoPaginaInicial-tab3
url: /GestaoPaginaInicial-tab3
parent: GestaoPaginaInicial
---

<div class="grid-content" ng-controller="ConteudoController as conteudo" ng-init="getGraficos()">

<!--     <div class="grid-block"
         style="margin: 1.5rem 0"
         animation-in="zoomIn"
         animation-out="zoomOut">

        <span class="label"
              style="margin-right: 10px">
            ORDEM
        </span>
        <span class="label"
              style="margin-right: 10px">
            DATA DE PUBLICAÇÃO
        </span>
    </div> -->

    <div class="card" ng-repeat="conteudoGrafico in conteudosGraficos | orderBy:'order'">
        <form ng-submit="saveConteudoGrafico(conteudoGrafico)">
            <div class="card-section grid-block">
                <div class="grid-content">

                    <h4>{{conteudoGrafico.title}}</h4>

                    <input type="text" placeholder="Título" ng-model="conteudoGrafico.title" />

                    <div id="{{conteudoGrafico.graficoId}}"></div>

                    <div style="color: #aaa">
                        <span><strong>Data de Publicação</strong></span>
                        <span>{{conteudoGrafico.textDate}}</span>
                    </div>
                </div>
                <div class="grid-content shrink">
                    <span><strong>ORDEM</strong></span>
                    <span>{{conteudoGrafico.order}}</span>
                </div>
                <div class="grid-content shrink">
                    <div><input type="submit" value="Gravar" class="tiny expand button" /></div>
                    <div><a class="alert tiny expand button">APAGAR</a></div>
                </div>
                {{conteudo.gerarGrafico(conteudoGrafico.graficoId)}}
            </div>
        </form>
    </div>



</div>