---
name: GestaoPaginaInicial-tab2
url: /GestaoPaginaInicial-tab2
parent: GestaoPaginaInicial
---

<div class="grid-content">
    
    <div class="grid-block"
         style="margin: 1.5rem 0"
         animation-in="zoomIn" 
         animation-out="zoomOut">

        <span class="label"
              style="margin-right: 10px">
            ORDEM
        </span>
        <span class="label"
              style="margin-right: 10px">
            DATA DE PUBLICAÇÃO
        </span>

    </div>

    <div class="card">
        <div class="card-section grid-block">
            <div class="grid-content">

                    <h4>Título da Notícia</h4>

                <div style="color: #aaa">
                    <span><strong>Data de Publicação</strong></span>
                    <span>12/08/2012</span>
                </div>
            </div>
            <div class="grid-content shrink">
                    <span><strong>ORDEM</strong></span>
                    <span>1</span>
            </div>
            <div class="grid-content shrink">
                    <div><a class="tiny expand button">EDITAR</a></div>
                    <div><a class="alert tiny expand button">APAGAR</a></div>
            </div>
        </div>
    </div>
    
    
    <div class="card">
        <div class="card-section grid-block">
            <div class="grid-content">

                    <h4>Título da Notícia</h4>

                <div style="color: #aaa">
                    <span><strong>Data de Publicação</strong></span>
                    <span>13/09/2012</span>
                </div>
            </div>
            <div class="grid-content shrink">
                    <span><strong>ORDEM</strong></span>
                    <span>2</span>
            </div>
            <div class="grid-content shrink">
                    <div><a class="tiny expand button">EDITAR</a></div>
                    <div><a class="alert tiny expand button">APAGAR</a></div>
            </div>
        </div>
    </div>

</div>