---
name: GestaoHierarquiaNavegacao
url: /gestao_hierarquia_navegacao
parent: GestaoConteudos
---

<h1>Gestão da Hierarquia de Navegação</h1>

    
<div ng-controller="EstatisticasTreeController as estatisticasTreeController" ng-init="estatisticasTreeInitTree()">

        <div>
            <a class="success button" ng-click="estatisticasTreeStartEditNew();" zf-open="dominioEditModal">Adicionar Domínio</a>
        </div>

        <zf-accordion auto-open="" ng-repeat="estatisticasTreeItem in EstatisticasTreeItems.dominio | orderBy:'posicao'">
            <div ng-include="'estatisticasTreeTemplate'"></div>
        </zf-accordion>


<!-- MODAL - LINK -->
<div zf-modal="" id="dadoFonteEditModal">
    <div class="grid-content">
        <label>
            Nome:
            <input id="nome" type="text" ng-model="dadosFonteItem.nome">
        </label>
        <label>
            link:
            <input id="link" type="text" ng-model="dadosFonteItem.link">
        </label>
        <label>
            periodicidade:
            <input id="periodicidade" type="text" ng-model="dadosFonteItem.periodicidade">
        </label>
        <label>
            unidade:
            <input id="unidade" type="text" ng-model="dadosFonteItem.unidade">
        </label>
        <label>
            descricao:
            <input id="descricao" type="text" ng-model="dadosFonteItem.descricao">
        </label>
        <div class="grid-content">
            <a class="alert tiny button" ng-click="estatisticasTreeSaveDadosFonte(dadosFonteItem, domainToSave);" zf-close="">GRAVAR</a>
            <a class="tiny button" ng-click="estatisticasTreeCancelEditDadosFonte();" zf-close="">CANCELAR</a>
        </div>
    </div>
</div>


<!-- MODAL - HIERARQUIA -->
<div zf-modal="" id="dominioEditModal">
    <div class="grid-content">
        <label>
            Nome:
            <input id="nome" type="text" ng-model="estatisticasTreeDominioToEdit.nome">
        </label>
        <label>Pai:</label>
        {{estatisticasTreeDominioToEdit.parentItem.nome}}
        <table>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <ul ng-repeat="dimensaoItem in EstatisticasTreeDimensoes">
                        <li>
                            {{dimensaoItem.nome}}
                            <input type="checkbox" id="dimensaoItemCBox" ng-model="dimensaoItem.checked" />
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <div class="grid-content">
            <a class="alert tiny button" ng-click="estatisticasTreeSaveDominio(estatisticasTreeDominioToEdit);" zf-close="">GRAVAR</a>
            <a class="tiny button" ng-click="estatisticasTreeCancelEdit();" zf-close="">CANCELAR</a>
        </div>
    </div>
</div>

<!-- TEMPLATE -->
<script type="text/ng-template" id="estatisticasTreeTemplate">
    
    <zf-accordion auto-open="">
        
        <zf-accordion-item class="block-content" title="{{estatisticasTreeItem.nome}} - Posição: {{estatisticasTreeItem.posicao}}" style="font-size: 1em; font-weight: 600;">
            
            <section class="block-list">
                <header>LINKS</header>
                <ul ng-repeat="dadosFonteItem in estatisticasTreeItem.dados_fonte | orderBy:'posicao'">
                    <li class="">
                        <a href="#">
                            {{dadosFonteItem.nome}} - Posição: {{dadosFonteItem.posicao}}
                            <span class="float-right">
                        <button class="tiny hollow button" ng-click="estatisticasTreeStartEditDadosFonte(dadosFonteItem, estatisticasTreeItem);" zf-open="dadoFonteEditModal">Editar Dado Fonte</button>
                        <button class="tiny hollow button" ng-click="estatisticasTreeOrderDadosFonte(dadosFonteItem,estatisticasTreeItem,-1);" ng-show="dadosFonteItem.posicao>1">/\</button>
                        <button class="tiny hollow button" ng-click="estatisticasTreeOrderDadosFonte(dadosFonteItem,estatisticasTreeItem,1);" ng-show="dadosFonteItem.posicao<getEstatisticasMaxPosicaoDadosFonte(estatisticasTreeItem)">\/</button>
                        <button class="alert tiny hollow button" ng-click="estatisticasTreeDeleteDadosFonte(dadosFonteItem, estatisticasTreeItem);">Apagar Dado Fonte</button>
                            </span>
                    </li>
                </ul>
            </section>
            
            <div class="grid-content" >
                <ul ng-repeat="dadosFonteItem in estatisticasTreeItem.dados_fonte | orderBy:'posicao'"
                    style="">
                    <li>
                        {{dadosFonteItem.nome}} - Posição: {{dadosFonteItem.posicao}}
                        
                    </li>
                </ul>
            </div>

            <div class="card-divider grid-content" style="padding-top: 1em">
                <a class="tiny success button" ng-click="estatisticasTreeStartNewDadosFonte(estatisticasTreeItem);" zf-open="dadoFonteEditModal">Adicionar Dado Fonte</a>
                <a class="tiny button" zf-open="dominioEditModal" ng-click="estatisticasTreeStartEdit(estatisticasTreeItem);">Editar Domínio</a>
                <a class="tiny button" ng-click="estatisticasTreeOrderDominio(estatisticasTreeItem,-1);" ng-show="estatisticasTreeItem.posicao>1">/\</a>
                <a class="tiny button" ng-click="estatisticasTreeOrderDominio(estatisticasTreeItem,1);" ng-show="estatisticasTreeItem.posicao<estatisticasTreeItem.maxPosicao">\/</a>
                <a class="tiny button" ng-click="estatisticasTreeStartEditNewOnParent(estatisticasTreeItem);" zf-open="dominioEditModal">Adicionar Filho</a>
                <a class="alert tiny button" ng-click="estatisticasTreeDeleteDominio(estatisticasTreeItem);"
                   ng-hide="estatisticasTreeItem.subdominios.length>0">Apagar Domínio</a>
            </div>
            
            <div ng-if="estatisticasTreeItem.subdominios">
                <div ng-repeat="estatisticasTreeItem in estatisticasTreeItem.subdominios | orderBy:'posicao'">
                    <div ng-include="'estatisticasTreeTemplate'"></div>
                </div>
            </div>
            
        </zf-accordion-item>
    </zf-accordion>
    
</script>

</div>

<!--
    <zf-accordion id="sidebar-nav" multi-open="true" auto-open="false" class="medium-3 domain-l1">
        <div >
            
			<script type="text/ng-template" id="estatisticasTreeTemplate">
				<zf-accordion  auto-open="false" ng-if="estatisticasTreeItem.subdominios">
					<zf-accordion-item title="{{estatisticasTreeItem.nome}}"  ng-repeat="estatisticasTreeItem in estatisticasTreeItem.subdominios"
						auto-open="false" class="domain-l{{estatisticasTreeItem.level}}">
						<div ng-include="'estatisticasTreeTemplate'"></div>
					</zf-accordion-item >				
				</zf-accordion>
			    <div ng-if="estatisticasTreeItem.dados_fonte">
				   <div class="domain-link"  ng-repeat="estatisticasDadosFonteItem in estatisticasTreeItem.dados_fonte">
                       <a ng-click="selectLink(estatisticasDadosFonteItem)" ui-sref="DomainDetail">
                           <img zf-iconic="" icon="bookmark" size="small">
                           {{estatisticasDadosFonteItem.nome}}
                       </a>
					</div>				
				</div>
			</script>		
	
			<zf-accordion auto-open="false">
				<zf-accordion-item title="{{estatisticasTreeItem.nome}}"  ng-repeat="estatisticasTreeItem in EstatisticasTreeItems.dominio"
					class="chevron-right domain-l1">
					<div ng-include="'estatisticasTreeTemplate'"></div>
				</zf-accordion-item >
			</zf-accordion>
		</div>
        
    </zf-accordion>

-->