---
name: GestaoHierarquiaNavegacao_Edit
url: /gestao_hierarquia_navegacao_edit
parent: GestaoConteudos
---

<div class="grid-content">
    <h1>Gestão da Hierarquia de Navegação - EDIT</h1>
    <p>&nbsp;</p>
    <form>
        <label>
            TÍTULO
            <input type="text" placeholder="Text field">
        </label>

        <div class="grid-block">
            <div class="small-12 medium-3 grid-content">

                <label>
                    NÍVEL
                    <input type="text" placeholder="Text field">
                </label>

                <label>ORDEM
                    <span class="inline-label">
                    <input type="text" placeholder="Text field">
                    <span class="form-label">DE 10</span></span>
                </label>
            </div>
        </div>
    </form> 
    
    
    <section class="block-list">
    <div class="grid-content">
        <header>LISTA DE END POINTS</header>
    <ul>

    <li><label style="margin:0px">Point 1&nbsp;&nbsp;&nbsp;<a class="tiny button" style="margin:0px">EDITAR</a></label></li>
    <li><label style="margin:0px">Point 2&nbsp;&nbsp;&nbsp;<a class="tiny button" style="margin:0px">EDITAR</a></label></li>
    <li><label style="margin:0px">Point 3&nbsp;&nbsp;&nbsp;<a class="tiny button" style="margin:0px">EDITAR</a></label></li>
    <li><label style="margin:0px">Point 4&nbsp;&nbsp;&nbsp;<a class="tiny button" style="margin:0px">EDITAR</a></label></li>
    </ul>
    </div>
    </section>


    <div class="grid-content">
        <a class="success button">ADICIONAR</a>
        <a class="success button">SAVE</a>
        <a class="alert button">CANCEL</a>
    </div> 

</div>
        
   <li><a href="#">List item 3</a></li>     
