---
name: GestaoHierarquiaNavegacao
url: /gestao_hierarquia_navegacao 
parent: GestaoConteudos
---

<h1>Gestão da Hierarquia de Navegação</h1>

    <div ng-controller="EstatisticasTreeController as estatisticasTreeController" ng-init="estatisticasTreeInitTree()"
<div ng-controller="EstatisticasTreeController as estatisticasTreeController" 
     ng-init="estatisticasTreeInitTree()">
    
    <div>
        <a class="success button" ng-click="estatisticasTreeStartEditNew();" zf-open="dominioEditModal">Adicionar Domínio</a>
    </div>

    <div ng-repeat="estatisticasTreeItem in EstatisticasTreeItems.dominio | orderBy:'posicao'"
         ng-include="'estatisticasTreeTemplate'" class="grid-content"
         >

    </div>

</div>


<!-- EDIT DADOS FONTE -->
<div zf-modal="" id="dadoFonteEditModal">
    <div class="grid-content">
        <label>
            Nome:
            <input id="nome" type="text" ng-model="dadosFonteItem.nome">
        </label>
        <label>
            link:
            <input id="link" type="text" ng-model="dadosFonteItem.link">
        </label>
        <label>
            periodicidade:
            <input id="periodicidade" type="text" ng-model="dadosFonteItem.periodicidade">
        </label>
        <label>
            unidade:
            <input id="unidade" type="text" ng-model="dadosFonteItem.unidade">
        </label>
        <label>
            descricao:
            <input id="descricao" type="text" ng-model="dadosFonteItem.descricao">
        </label>
        <div class="grid-content">
            <a class="alert tiny button" ng-click="estatisticasTreeSaveDadosFonte(dadosFonteItem, domainToSave);" zf-close="">GRAVAR</a>
            <a class="tiny button" ng-click="estatisticasTreeCancelEditDadosFonte();" zf-close="">CANCELAR</a>
        </div>
    </div>
</div>

<!-- EDIT DOMÍNIO -->
<div zf-modal="" id="dominioEditModal">
    <div class="card">
        <div class="grid-content">
            <label>
                Nome:
                <input id="nome" type="text" ng-model="estatisticasTreeDominioToEdit.nome">
            </label>
            <label>Pai:</label>
            {{estatisticasTreeDominioToEdit.parentItem.nome}}
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <ul ng-repeat="dimensaoItem in EstatisticasTreeDimensoes">
                            <li>
                                {{dimensaoItem.nome}}
                                <input type="checkbox" id="dimensaoItemCBox" ng-model="dimensaoItem.checked" />
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="grid-content">
                <a class="alert tiny button" ng-click="estatisticasTreeSaveDominio(estatisticasTreeDominioToEdit);" zf-close="">GRAVAR</a>
                <a class="tiny button" ng-click="estatisticasTreeCancelEdit();" zf-close="">CANCELAR</a>
            </div>
        </div>
        </div>
</div>

<!--
<div ng-show="estatisticasTreeEditDadosFonteVer">
<div class="grid-content" >
    <ul ng-repeat="dadosFonteItem in EstatisticasTreeDadosFonteAllItems">
        <li>
            {{dadosFonteItem.nome}}
            <a class="tiny button" ng-click="estatisticasTreeStartEditDadosFonte(dadosFonteItem);">EDITAR</a>
            <a class="alert tiny button" ng-click="estatisticasTreeDeleteDadosFonte(dadosFonteItem);">APAGAR</a>
        </li>
    </ul>

    <div class="grid-content">
        <a class="tiny button" ng-click="estatisticasTreeCancelVerDadosFonte();">CANCELAR</a>
    </div>
</div>
</div>
-->

<!-- ELEMENT TEMPLATE -->
<script type="text/ng-template" id="estatisticasTreeTemplate">
    
    <div class="card vertical grid-block">
        
        <div class="card-section grid-content">
            <h4>{{estatisticasTreeItem.nome}} - Posição: {{estatisticasTreeItem.posicao}}</h4>
            <div ng-if="estatisticasTreeItem.subdominios">
                <div ng-repeat="estatisticasTreeItem in estatisticasTreeItem.subdominios | orderBy:'posicao'">
                    <div ng-include="'estatisticasTreeTemplate'"></div>
                </div>
            </div>
        </div>
        
        <div class=" card-section grid-content">
            <ul>
                <li ng-repeat="dadosFonteItem in estatisticasTreeItem.dados_fonte | orderBy:'posicao'">
                    {{dadosFonteItem.nome}} - Posição: {{dadosFonteItem.posicao}}
                    <a class="tiny hollow button" title="Editar Link" ng-click="estatisticasTreeStartEditDadosFonte(dadosFonteItem, estatisticasTreeItem);" 
                       zf-open="dadoFonteEditModal">Editar</a>
                    <a class="tiny hollow button" ng-click="estatisticasTreeOrderDadosFonte(dadosFonteItem,estatisticasTreeItem,-1);" 
                       ng-show="dadosFonteItem.posicao>1">/\</a>
                    <a class="tiny hollow button" ng-click="estatisticasTreeOrderDadosFonte(dadosFonteItem,estatisticasTreeItem,1);" 
                       ng-show="dadosFonteItem.posicao<getEstatisticasMaxPosicaoDadosFonte(estatisticasTreeItem)">\/</a>
                    <a class="alert tiny hollow button"
                       title="Apagar Link"
                       ng-click="estatisticasTreeDeleteDadosFonte(dadosFonteItem, estatisticasTreeItem);">X</a>
                </li>
            </ul>
        </div>
    
        <div class="card-divider grid-content" style="padding-top: 1em;">
            <a class="tiny success button" ng-click="estatisticasTreeStartNewDadosFonte(estatisticasTreeItem);" zf-open="dadoFonteEditModal">Adicionar Link</a>
            <a class="tiny button" zf-open="dominioEditModal" ng-click="estatisticasTreeStartEdit(estatisticasTreeItem);">Editar</a>
            <a class="tiny button" ng-click="estatisticasTreeOrderDominio(estatisticasTreeItem,-1);" ng-show="estatisticasTreeItem.posicao>1">/\</a>
            <a class="tiny button" ng-click="estatisticasTreeOrderDominio(estatisticasTreeItem,1);" ng-show="estatisticasTreeItem.posicao<estatisticasTreeItem.maxPosicao">\/</a>
            <a class="tiny button" ng-click="estatisticasTreeStartEditNewOnParent(estatisticasTreeItem);" zf-open="dominioEditModal">Adicionar Nível</a>
            <a class="alert tiny button" ng-click="estatisticasTreeDeleteDominio(estatisticasTreeItem);" ng-hide="estatisticasTreeItem.subdominios.length>0">Apagar</a>
        </div>
    
    </div>

</script>