---
name: home
url: /home
---

<div ng-controller="ConteudoController" 
     class="grid-content">
    
    <route-loading-indicator></route-loading-indicator>
    
    <!--<h1>PORTAL DAS ESTATÍSTICAS</h1>-->
    <div class="grid-block"
         style="margin: 1.5rem 0"
         animation-in="zoomIn" 
         animation-out="zoomOut">

        <span ng-repeat="link in showLinks | orderBy:'order'"
              ng-click="showConteudos(link.conteudosToShow);"
              class="label <!--{{link.className}}-->"
              style="margin-right: 10px">
            {{link.name}}
        </span>

    </div>
    
    
    <div class="grid-block small-up-1 medium-up-4" ng-init="getTextos()">

        <div ng-repeat="conteudoTexto in textos.texto | orderBy:'order'"
             ng-show="textosVisible"
             class="grid-content"
             animation-in="zoomIn"
             animation-out="zoomOut">
            <div class="card-fo">
                <div class="card-fo-title">
                    {{conteudoTexto.titulo}}
                </div>
                <div class="card-fo-subtitle">
                    {{conteudoTexto.subtitulo}}
                </div>
                <div class="card-fo-section">
                    {{conteudoTexto.conteudo}}
                    <div class="card-fo-actions grid-block">
                        <span class="grid-block"><img zf-iconic="" icon="magnifying-glass" size="small" class="iconic-color-secondary">&nbsp;LER MAIS</span>
                        <span class="grid-block"><img zf-iconic="" icon="share-boxed" size="small" class="iconic-color-secondary">&nbsp;PARTILHAR</span>
                    </div>
                </div>
                <div class="card-fo-footer">
                    <span>
                        <img zf-iconic="" icon="Person" size="small">
                        &nbsp;{{conteudoTexto.person}}
                    </span>
                    <span> | </span>
                    <span>{{conteudoTexto.textDate}}</span>
                </div>
            </div>
        </div>
<!--
        <div ng-repeat="conteudoGrafico in getGraficos() | orderBy:'order'"
             ng-show="graficosVisible"
             class="grid-content"
             animation-in="zoomIn"
             animation-out="zoomOut">
            <div class="card-fo">
                <div class="card-fo-title">
                    {{conteudoGrafico.title}}
                </div>
                <div class="card-fo-section">
                    <div id="{{conteudoGrafico.graficoId}}"></div>
                    <div class="card-fo-actions grid-block">
                        <span class="grid-block"><img zf-iconic="" icon="magnifying-glass" size="small" class="iconic-color-secondary">&nbsp;LER MAIS</span>
                        <span class="grid-block"><img zf-iconic="" icon="share-boxed" size="small" class="iconic-color-secondary">&nbsp;PARTILHAR</span>
                    </div>
                </div>
                <div class="card-fo-footer">
                    <span>
                        <img zf-iconic="" icon="person" size="small">
                        &nbsp;{{conteudoGrafico.person}}
                    </span>
                    <span>{{conteudoGrafico.textDate}}</span>
                </div>
                {{gerarGrafico(conteudoGrafico.graficoId)}}
            </div>
        </div>
        -->
    </div>

</div>