---
name: user
url: /user
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-content">

    <h1>ÁREA PESSOAL</h1>
    

    <div class="grid-block small-up-1 medium-up-4">

        <div class="grid-content" 
             animation-in="zoomIn" 
             animation-out="zoomOut">
            <div class="card-fo">
                <div class="card-fo-title">
                    {{conteudoGrafico.title}}
                </div>
                <div class="card-fo-section">
                    <div id="{{conteudoGrafico.graficoId}}"></div>
                    <div class="card-fo-actions grid-block">
                        <span class="grid-block"><img zf-iconic="magnifying-glass" icon="thumb" size="small" class="iconic-color-secondary"> LER MAIS</span>
                        <span class="grid-block"><img zf-iconic="share-boxed" icon="thumb" size="small" class="iconic-color-secondary"> PARTILHAR</span>
                    </div>
                </div>
                <div class="card-fo-footer">
                    <span>
                        <img zf-iconic="person" icon="thumb" size="small">
                        {{conteudoTexto.person}}
                    </span>
                    <span>{{conteudoTexto.getDataPublicacao()}}</span>
                </div>
                {{conteudo.gerarGrafico(conteudoGrafico.graficoId)}}
            </div>
        </div>
    </div>

</div>