---
name: GestaoPaginaInicial-tab3
url: /GestaoPaginaInicial-tab3
parent: GestaoPaginaInicial
animationIn: fadeIn
animationOut: fadeOut
---

<div ng-controller="ConteudoController as conteudo" class="grid-content">
    <div ng-repeat="conteudoGrafico in conteudo.getGraficos() | orderBy:'order'"
         ng-show="conteudo.graficosVisible"
         class="grid-content"
         animation-in="zoomIn"
         animation-out="zoomOut">
        <form ng-submit="conteudo.saveConteudoGrafico(conteudoGrafico)">
            <div class="card-fo">
                <div class="card-fo-title">
                    {{conteudoGrafico.title}}
                    <input type="text" placeholder="Título" ng-model="conteudoGrafico.title" />
                </div>
                <div class="card-fo-section">
                    <div id="{{conteudoGrafico.graficoId}}"></div>
                </div>
                    <div class="card-fo-footer">
                        <span>
                            <img zf-iconic="person" icon="thumb" size="small">
                            {{conteudoGrafico.person}}
                        </span>
                        <span>{{conteudoGrafico.textDate}}</span>
                        <span> | </span>
                        <span> <input type="submit" value="Gravar" /> </span>
                    </div>
                    {{conteudo.gerarGrafico(conteudoGrafico.graficoId)}}
                </div>
        </form>
    </div>

</div>