---
name: GestaoPaginaInicial-tab2
url: /GestaoPaginaInicial-tab2
parent: GestaoPaginaInicial
animationIn: fadeIn
animationOut: fadeOut
---
<div ng-controller="ConteudoController as conteudo" class="grid-content" ng-init="conteudo.getTextos()">
    <br />
    <a ng-click="conteudo.novoConteudoTexto()">Novo</a>
    <br /><br />
    <div ng-repeat="conteudoTexto in textos.texto | orderBy:'posicao'"
         ng-show="conteudo.textosVisible"
         class="grid-content"
         animation-in="zoomIn"
         animation-out="zoomOut">
        <form ng-submit="conteudo.saveConteudoTexto(conteudoTexto)">
            <div class="card-fo">
                <div class="card-fo-title">
                    {{conteudoTexto.titulo}}
                    <input type="text" placeholder="Título" ng-model="conteudoTexto.titulo" />
                </div>
                <div class="card-fo-subtitle">
                    {{conteudoTexto.subtitulo}}
                    <input type="text" placeholder="Subtítulo" ng-model="conteudoTexto.subtitulo" />
                </div>
                <div class="card-fo-section">
                    {{conteudoTexto.conteudo}}
                    <textarea name="text" placeholder="Texto" ng-model="conteudoTexto.conteudo" rows="3"></textarea>
                </div>
                <div class="card-fo-footer">
                    <span>
                        {{conteudoTexto.person}}
                    </span>
                    <span> | </span>
                    <span>{{conteudoTexto.data}}</span>
                    <span> | </span>
                    <span> <input type="submit" value="Gravar" class="tiny expand button" /> </span>
                    <span> | </span>
                    <span> <input type="button" ng-click="conteudo.deleteConteudoTexto(conteudoTexto);" value="Apagar" /> </span>
                    <span ng-show="conteudoTexto.posicao>1"> | <input type="button" ng-click="conteudo.ordenarConteudoTexto(conteudoTexto,-1);" value="Acima" /> </span>
                    <span ng-show="conteudoTexto.posicao<textos.texto.length"> |  <input type="button" ng-click="conteudo.ordenarConteudoTexto(conteudoTexto,1);" value="Abaixo" /> </span>
                </div>
            </div>
        </form>
    </div>
</div>